/.idea
mautic.php
lib_mautic/src/vendor/mautic/api-library/composer.json
lib_mautic/src/vendor/mautic/api-library/composer.lock
lib_mautic/src/vendor/mautic/api-library/phpunit.xml.dist
lib_mautic/src/vendor/mautic/api-library/.ddev/*
lib_mautic/src/vendor/mautic/api-library/.github/ci-files/*
lib_mautic/src/vendor/mautic/api-library/apitester/*
lib_mautic/src/vendor/composer/*
lib_mautic/src/vendor/mautic/api-library/.github/*
lib_mautic/src/vendor/mautic/api-library/.php_cs
lib_mautic/src/vendor/mautic/api-library/tests/*
lib_mautic/src/vendor/psr/log/Psr/Log/*
lib_mautic/src/vendor/psr/log/composer.json
lib_mautic/src/vendor/autoload.php
lib_mautic/src/vendor/psr/log/LICENSE
lib_mautic/src/vendor/psr/log/README.md
plg_system_mautic/resources/*
